@model MVC_CRUD_s1114862.Models.product_inventory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>product_inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.serial_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serial_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inventory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inventory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
